In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt 
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder

In [2]:
company=pd.read_csv("C:\\Users\\Admin\\Downloads\\Company_Data.csv")

In [3]:
company

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,Good,33,14,Yes,Yes
396,6.14,139,23,3,37,120,Medium,55,11,No,Yes
397,7.41,162,26,12,368,159,Medium,40,18,Yes,Yes
398,5.94,100,79,7,284,95,Bad,50,12,Yes,Yes
399,9.71,134,37,0,27,120,Good,49,16,Yes,Yes

In [4]:
company.describe()

,Sales,CompPrice,Income,Advertising,Population,Price,Age,Education
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,7.496325,124.975000,68.657500,6.635000,264.840000,115.795000,53.322500,13.900000
std,2.824115,15.334512,27.986037,6.650364,147.376436,23.676664,16.200297,2.620528
min,0.000000,77.000000,21.000000,0.000000,10.000000,24.000000,25.000000,10.000000
25%,5.390000,115.000000,42.750000,0.000000,139.000000,100.000000,39.750000,12.000000
50%,7.490000,125.000000,69.000000,5.000000,272.000000,117.000000,54.500000,14.000000
75%,9.320000,135.000000,91.000000,12.000000,398.500000,131.000000,66.000000,16.000000
max,16.270000,175.000000,120.000000,29.000000,509.000000,191.000000,80.000000,18.000000

In [5]:
company.isnull().sum()

Sales          0
CompPrice      0
Income         0
Advertising    0
Population     0
Price          0
ShelveLoc      0
Age            0
Education      0
Urban          0
US             0
dtype: int64

In [8]:
company[company.duplicated()].shape

(0, 11)

In [9]:
company['Sales'] = pd.cut(company.Sales,bins=(0,7.49,16.27),labels=['lowsales','highsales'])
company

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,highsales,138,73,11,276,120,Bad,42,17,Yes,Yes
1,highsales,111,48,16,260,83,Good,65,10,Yes,Yes
2,highsales,113,35,10,269,80,Medium,59,12,Yes,Yes
3,lowsales,117,100,4,466,97,Medium,55,14,Yes,Yes
4,lowsales,141,64,3,340,128,Bad,38,13,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...
395,highsales,138,108,17,203,128,Good,33,14,Yes,Yes
396,lowsales,139,23,3,37,120,Medium,55,11,No,Yes
397,lowsales,162,26,12,368,159,Medium,40,18,Yes,Yes
398,lowsales,100,79,7,284,95,Bad,50,12,Yes,Yes
399,highsales,134,37,0,27,120,Good,49,16,Yes,Yes

In [10]:
company=company.drop(company.index[[174]],axis=0).reset_index()
company

,index,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,0,highsales,138,73,11,276,120,Bad,42,17,Yes,Yes
1,1,highsales,111,48,16,260,83,Good,65,10,Yes,Yes
2,2,highsales,113,35,10,269,80,Medium,59,12,Yes,Yes
3,3,lowsales,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4,lowsales,141,64,3,340,128,Bad,38,13,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...,...
394,395,highsales,138,108,17,203,128,Good,33,14,Yes,Yes
395,396,lowsales,139,23,3,37,120,Medium,55,11,No,Yes
396,397,lowsales,162,26,12,368,159,Medium,40,18,Yes,Yes
397,398,lowsales,100,79,7,284,95,Bad,50,12,Yes,Yes
398,399,highsales,134,37,0,27,120,Good,49,16,Yes,Yes

In [11]:
company=company.drop(['index'],axis=1)

In [12]:
x=company.iloc[:,:-1]

In [13]:
y=company.iloc[:,-1]

In [14]:
label_encoder_x=LabelEncoder()

In [15]:
x=x.apply(LabelEncoder().fit_transform)

In [16]:
x.head()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban
0,0,49,51,11,141,54,0,17,7,1
1,0,22,27,16,129,18,1,40,0,1
2,0,24,14,10,138,15,2,34,2,1
3,1,28,77,4,249,31,2,30,4,1
4,1,52,42,3,178,62,0,13,3,1

In [17]:
x.isnull().sum()

Sales          0
CompPrice      0
Income         0
Advertising    0
Population     0
Price          0
ShelveLoc      0
Age            0
Education      0
Urban          0
dtype: int64

In [18]:
y.isnull().sum()

0

In [19]:
rf = RandomForestClassifier(n_jobs=3,oob_score=True,n_estimators=100,criterion="entropy")
rf

RandomForestClassifier(criterion='entropy', n_jobs=3, oob_score=True)

In [20]:
rf.fit(x,y)

RandomForestClassifier(criterion='entropy', n_jobs=3, oob_score=True)

In [22]:
rf.estimators_

[DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1678792144),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=370693762),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=12663533),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=480154165),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=656616212),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1142026874),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1699289014),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1806010143),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=201912758),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1413923613),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=239936389),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=719121474),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1008153125),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=50178722),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1202212510),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1142090266),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=494387294),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1657890107),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1129290514),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=735278206),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=2009020729),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1986907727),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1124637656),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=109986229),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1062873724),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1540205125),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1208893941),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=491955586),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1943997573),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=794747722),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=200488571),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1583765839),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=231655306),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=37071049),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=535828271),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1059694890),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=217934422),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=229104682),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=373690534),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=687030899),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=619907550),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=2068734860),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1536650461),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1024360516),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1903455943),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=305946471),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=76247464),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=607311877),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1232649399),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1774248569),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=377314767),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1863223919),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=2123979744),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=34606861),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=773460687),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=966219645),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=196968402),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=74337800),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1980430817),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=300442495),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=2131896869),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=718720056),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1635829145),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=2137990978),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1489332909),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=675603505),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1303895750),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1636799824),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=461284114),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1175559341),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=109881358),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1846913133),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=361809914),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1506015433),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=95036500),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1084660657),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=88262761),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1415413903),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=654430788),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=2130558075),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=837348631),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=244100989),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1410031191),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1652291484),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=309405982),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=941884680),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1544661770),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1977057167),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=919906738),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=897326490),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=27878546),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=341688270),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1569837534),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1703239480),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1756653527),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=406512023),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1911618184),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1494365830),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=514735608),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=212876995)]

In [23]:
rf.classes_

array(['No', 'Yes'], dtype=object)

In [24]:
rf.n_classes_

2

In [25]:
rf.n_features_

10

In [26]:
rf.n_outputs_

1

In [27]:
rf.oob_score_

0.899749373433584

In [28]:
rf.predict(x)

array(['Yes', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes', 'No', 'Yes',
       'Yes', 'Yes', 'No', 'Yes', 'Yes', 'No', 'No', 'Yes', 'Yes', 'Yes',
       'Yes', 'Yes', 'No', 'No', 'Yes', 'No', 'Yes', 'No', 'Yes', 'Yes',
       'No', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'No', 'No',
       'No', 'No', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'No', 'No',
       'Yes', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'No', 'Yes', 'No',
       'Yes', 'No', 'Yes', 'Yes', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No',
       'Yes', 'Yes', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'No',
       'Yes', 'No', 'Yes', 'Yes', 'No', 'No', 'No', 'Yes', 'Yes', 'No',
       'No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes',
       'Yes', 'No', 'No', 'Yes', 'No', 'Yes', 'No', 'No', 'No', 'No',
       'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'No', 'No', 'Yes', 'Yes',
       'Yes', 'Yes', 'Yes', 'Yes', 'No', 'No', 'Yes', 'Yes', 'Yes', 'Yes',
       'Yes', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'No', 'Yes', 'Yes',
       'Yes', 'No', 'No', 'Yes', 'No', 'Yes', 'No', 'Yes', 'Yes', 'Yes',
       'Yes', 'Yes', 'No', 'Yes', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No',
       'No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'Yes', 'No', 'No', 'Yes',
       'Yes', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'Yes', 'Yes', 'Yes',
       'Yes', 'No', 'No', 'Yes', 'Yes', 'Yes', 'No', 'No', 'No', 'Yes',
       'Yes', 'Yes', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'Yes',
       'No', 'No', 'Yes', 'No', 'No', 'No', 'Yes', 'No', 'No', 'Yes',
       'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'No', 'Yes', 'Yes',
       'Yes', 'No', 'Yes', 'Yes', 'No', 'No', 'No', 'Yes', 'Yes', 'No',
       'No', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'Yes',
       'No', 'No', 'No', 'Yes', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No',
       'Yes', 'Yes', 'No', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes',
       'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'No',
       'No', 'No', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes',
       'Yes', 'Yes', 'No', 'No', 'No', 'Yes', 'Yes', 'Yes', 'No', 'Yes',
       'Yes', 'No', 'Yes', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'Yes',
       'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'Yes',
       'Yes', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'Yes', 'Yes', 'No', 'Yes',
       'Yes', 'Yes', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'Yes',
       'Yes', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'No', 'No',
       'Yes', 'No', 'No', 'Yes', 'Yes', 'Yes', 'No', 'No', 'No', 'Yes',
       'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'No', 'Yes', 'Yes',
       'Yes', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes', 'No', 'Yes',
       'Yes', 'Yes', 'No', 'No', 'No', 'Yes', 'No', 'Yes', 'No', 'Yes',
       'No', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'Yes', 'No', 'Yes', 'Yes',
       'Yes', 'Yes', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes',
       'Yes', 'Yes'], dtype=object)

In [29]:
company['rf_pred'] = rf.predict(x)

In [30]:
cols = ['rf_pred','Sales']
cols

['rf_pred', 'Sales']

In [31]:
company[cols].head()

  rf_pred      Sales
0     Yes  highsales
1     Yes  highsales
2     Yes  highsales
3     Yes   lowsales
4      No   lowsales

In [32]:
company['Sales']

0      highsales
1      highsales
2      highsales
3       lowsales
4       lowsales
         ...
394    highsales
395     lowsales
396     lowsales
397     lowsales
398    highsales
Name: Sales, Length: 399, dtype: category
Categories (2, object): [lowsales < highsales]

In [33]:
from sklearn.metrics import confusion_matrix
confusion_matrix(company['Sales'],company['rf_pred'])

array([[  0,   0,   0,   0],
       [  0,   0,   0,   0],
       [ 57, 142,   0,   0],
       [ 84, 116,   0,   0]], dtype=int64)

In [34]:
pd.crosstab(company['Sales'],company['rf_pred'])

rf_pred    No  Yes
Sales
lowsales   84  116
highsales  57  142